<h1> Cars </h1>
<%= render "flash" %>
<div class="cars-list">
  <% @cars.each do |car| %>
    <li><%=car.name%>
      <%=car.manufacturer.name%>
      <%=car.color%>
      <%=car.year%>
      <%=car.mileage%>
      <%=car.description%></li>
  <% end %>
</div>

<div class="link">
  <%= link_to "New", new_car_path %>
</div>


<div class="search">
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<% if params[:query].present? %>
  <% if @cars.blank? %>
    No Results
  <% else %>
    <% @cars.each do |car| %>
      <%= car.name %>
    <% end %>
  <% end %>
<% end %>
